* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.youtulist {
  width: 100%;
  background-color: #2b2b31;
  padding-bottom: 4%;
  border-bottom: 2px solid #ff55a5;
}
.phosolangdao {
  width: 80%;
  display: flex;
  margin: auto;
}
.yourtong {
  width: 60%;
  margin: auto;
}
.johndoe {
  display: flex;
  gap: 15px;
  padding-top: 4%;
}
.imgagefixgo img {
  border-radius: 50%;
}
.nagyvagio {
  display: flex;
  flex-direction: column;
}
.nagyvagio span {
  color: white;
  font-size: 1.3vw;
  font-weight: 400;
}
.nagyvagio label {
  color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1vw;
}
.there {
  width: 60%;
  padding-top: 3%;
  border: 1px solid wheat;
  border: none;
}
.there p {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 1.2vw;
  line-height: 26px;
  background-color: #28282d;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}
.liveanh {
  width: 60%;
  display: flex;
  justify-content: space-between;
  background-color: #28282d;
  padding: 15px 0px;
  border-radius: 0 0 4px 4px;
  border: none;
}
.baybong {
  width: 50%;
  display: flex;
  gap: 15px;
  padding-left: 5%;
}
.tolive {
  color: #0cb457;
  font-size: 1.1vw;
}
.baylive {
  color: #c22b3c;
  font-size: 1.1vw;
}
.baylac {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.aroona {
  font-size: 1vw;
  color: white;
  gap: 10px;
}
.chatblus {
  font-size: 1vw;
  color: white;
}
.addcommen {
  width: 60%;
  border: 1px solid white;
  margin-top: 4%;
  border: none;
  background-color: #28282d;
  text-align: center;
}
.khungass input {
  padding: 2% 40% 20% 3%;
  font-size: 1.2vw;
  border: 1px solid #ff55a5;
  color: white;
  margin-top: 4%;
  background-color: #2b2b31;
  border: none;
}
.butontai button {
  padding: 2% 10% 2% 10%;
  margin-top: 5%;
  border: none;
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
}
.tonganhthat {
  width: 40%;
  padding-top: 1%;
}
.youmanny {
  width: 100%;
  padding-top: 5%;
}
.mageimage {
  display: flex;
  width: 100%;
  gap: 20px;
}
.aslolive {
  color: white;
  font-size: 2.2vw;
  font-weight: 300;
}
.dumandeo1 {
  width: 50%;
}
.dumandeo1 img {
  width: 100%;
  border-radius: 2%;
}
.dumandeo1 p{
  font-size: 1.4vw;
  color: white;
  font-weight: 500;margin-top: 2%;

}
.atitai {
  width: 10%;
  display: flex;
  color: white;
  gap: 10px;
}
.atitai img {
  width: 100%;
}
.atitai span {
  color: white;
  font-size: 1.1vw;
  font-weight: 500;
}
.himalya {
  width: 50%;
}
.himalya img {
  width: 100%;
  border-radius: 2%;
}
.himalya p{
  font-size: 1.4vw;
  color: white;
  font-weight: 500;margin-top: 2%;
}
.tudutaito {
  width: 10%;
  display: flex;
  gap: 10px;
}
.tudutaito img {
  width: 100%;
}
.himalya span {
  color: white;
  font-size: 1.1vw;
  font-weight: 500;
}
.metlam{
  display: flex;
  width: 100%;
}
